.color-example {
    color : red;
    background-color : #ffff00;
    border : blue solid 3px;
    }

.header-example {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: darkred ;
    }

.list-example   {
    list-style-type: circle;
    color: blueviolet;
    }

.text-example   {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    text-transform: capitalize;
    text-decoration: underline;
}

.div-example    {
    background-color: orchid;
    border: darkgreen;
}
